
body {
    font-family: Georgia, serif;
    font-size: 13px;
    line-height:1.5;
}

.content {
    margin:0 auto;
    max-width:900px;
}

.container-navbar {
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
}

.fs-4 {
    color:white;
    padding-left:25px;
}

.nav {
    padding-right:25px;
    padding-left:10px;
}

.nav-link {
    color:white;
    padding-right:25px;
}

.col-lg-11 {
    padding-left:10px;
    padding-right:10px;
}

.head-subhead {
    text-align:left;
    max-width:900px;
    padding-left:20px;
    padding-right:20px;
}

img {
    padding-top:0px;
    padding-bottom:0px;
    padding-left: 10px;
    padding-right: 10px;
}

.caption {
    padding-top:5px;
    padding-bottom:0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:left;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
}

.headline {
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    padding-bottom: 15px;
    padding-top:15px;
}

.subhead {
    font-size: 15px;
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

.row {
    padding-left: 10px;
    padding-right: 10px;
}

.blockquote {
    padding-left: 10px;
    padding-right: 10px;
    padding-top:20px;
}

.quote {
    text-align: left;
    font-size:30px;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: italic;
    color: cornflowerblue;
}

.quote-attribution {
    text-align: right;
    font-size:30px;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
    color: darkblue;
}

/* for screens above 768px */
@media only screen and (min-width: 768px) {
   .container-navbar {
    position:sticky;
    top:0;
   }

   body {
    font-size: 20px;
   }

   .headline {
    font-size: 40px;
   }

   .subhead {
    font-size: 20px;
   }

   #byline {
    font-size: 20px;
   }

   .blockquote {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
   }

   .caption {
    padding-bottom: 20px;
   }

   .quote {
    font-size:45px;
   }

   .quote-attribution {
    font-size:45px;
   }

   .row {
    padding-bottom:30px;
   }
}

