
body {
    font-family: Georgia, serif;
    font-size: 13px;
    line-height:1.5;
}

.content {
    margin:0 auto;
    max-width:900px;
}

.container {
    padding-top:10px;
    padding-bottom:10px;
}

.container-navbar {
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
}

.fs-4 {
    color:white;
    padding-left:25px;
}

.nav {
    padding-right:25px;
    padding-left:10px;
}

.nav-link {
    color:white;
    padding-right:25px;
}

.col-lg-11 {
    padding-left:10px;
    padding-right:10px;
}

.series-name {
    text-transform:uppercase;
}

.head-subhead {
    text-align:left;
    max-width:900px;
    padding-left:20px;
    padding-right:20px;
}

.headline {
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    padding-bottom: 15px;
    padding-top:15px;
}

.subhead {
    font-size: 15px;
}

img {
    padding-top:0px;
    padding-bottom:0px;
    padding-left: 10px;
    padding-right: 10px;
}

.caption {
    padding-top:5px;
    padding-bottom:0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:left;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color:rgb(82, 82, 82);
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    color:black;
}

.byline-link {
    color:black;
}

.row {
    padding-left: 10px;
    padding-right: 10px;
}

.blockquote {
    padding-top:30px;
    padding-bottom:10px;
    margin-top:15x;
    margin-bottom:15px;
}

.quote {
    font-family: Georgia, serif;
    text-align: left;
    font-size:24px;
    font-style: italic;
    color: cornflowerblue;
}

.quote-attribution {
    text-align: right;
    font-size:20px;
    font-family: Georgia, serif;
    font-style: normal;
    color: darkblue;
}

.card-top {
    text-align: center;
    text-transform: uppercase;
    margin-top:40px;
    font-weight: bold;
}

.mt-0 {
    color:black;
}

.card-desc {
    color:black;
    font-style:italic;
    padding-top:10px;
    padding-bottom:10px;
}

.card-byline {
    color:black;
    font-weight:bold;
    text-transform: uppercase;
}

.w-100 {
    margin-top: 15px;
}

.stretched-link {
    color:black
}

/* for screens above 768px */
@media only screen and (min-width: 768px) {
   .container-navbar {
    position:sticky;
    top:0;
   }

   body {
    font-size: 20px;
   }

   .headline {
    font-size: 40px;
   }

   .subhead {
    font-size: 20px;
   }

   #byline {
    font-size: 20px;
   }

   .blockquote {
    max-width: 900px;
    border-left: 4px solid darkblue;
    padding-top:0;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0;
   }

   .quote {
    font-size:40px;
    margin-top:0;
    margin-bottom:0;
    margin-left:50px;
   }

   .quote-attribution {
    padding-top:20px;
    font-size:36px;
   }

   .caption {
    padding-bottom: 0px;
   }

   .row {
    padding-bottom:30px;
   }
}

