/*
styles for my resume
*/

/*
baseline resume style (font, size, color, boldness)
*/
BODY {
    font-family:"Open Sans", arial, sans-serif;
    font-size:1em;
    color:#444;
    font-weight:400;
}

/*
name banner
*/
#name {
    font-size:3em;
    color:#33485e;
    text-transform:uppercase;
    text-align:center;
}

/*
title
*/
strong {
    font-size:1.5em;
    color:#33485e;
    text-transform:uppercase;
}

/*
section titles: experience, education & skills
*/
h2 {
    font-size:1.5em;
    color:white;
    background-color:#33485e;
    text-transform:uppercase;
    font-weight: 400;
}

/*
job titles
*/
h3 {
    font-size:1.5em;
    font-weight:600;
}

/*
job organizations
*/
h4 {
    font-size:1.5em
    font-weight: 400;
}

/*
job dates
*/
h5 {
    font-size:1em;
    font-style:italic;
    font-weight: 400;
}

/*
lists of contact info, education, skills
*/
ul {
    font-size:1em;
    font-weight: 400;
}
