/*
styles for my resume
*/

/*
baseline resume style (font, size, color, boldness)
*/
BODY {
    font-family:"Open Sans", arial, sans-serif;
    font-size:1em;
    color:#444;
    font-weight:400;
}

/*
name banner
*/
#name {
    font-size:3em;
    color:#33485e;
    text-transform:uppercase;
    text-align:center;
    width:60%;
    min-width:300px;
    margin: 0 auto;
    border: 1px solid #33485e;
}

/*
title
*/
strong {
    font-size:1.5em;
    color:#33485e;
    text-transform:uppercase;
}

/*
section titles: experience, education & skills
*/
.sectionheader {
    font-size:1.5em;
    color:white;
    background-color:#33485e;
    text-transform:uppercase;
    font-weight: 400;
    margin-top:20px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 70%;
    max-width: 300px;
}

/*
job titles
*/
h3 {
    font-size:1.5em;
    font-weight:600;
}

/*
job organizations
*/
h4 {
    font-size:1.5em
    font-weight: 400;
}

/*
job dates
*/
h5 {
    font-size:1em;
    font-style:italic;
    font-weight: 400;
}

/*
lists of contact info, education, skills
*/
ul {
    font-size:1em;
    font-weight: 400;
}
