/*
styles for my resume
*/


/*
why must you refuse to work
*/

/*
baseline resume style (font, size, color, boldness)
*/
body {
    font-family:"Open Sans", arial, sans-serif;
    font-size:1em;
    color:#444;
    font-weight:400;
}

/*
name banner
*/
#name {
    font-size:3em;
    color:#33485e;
    text-transform:uppercase;
    text-align:center;
    width:60%;
    min-width:300px;
    margin: 0 auto;
    border: 1px solid #33485e;
}

/*
title
*/
strong {
    font-size:1.5em;
    color:#33485e;
    text-transform:uppercase;
}

/* 
contact info
*/
.menu {
    margin: 0;
    padding: 0;
    text-align:center;
}

/*
section titles: experience, education & skills
*/
.sectionheader {
    font-size:1.5em;
    color:white;
    background-color:#33485e;
    text-transform:uppercase;
    font-weight: 400;
    margin: 20px 0 10px 0;
    width: 70%;
    max-width: 300px;
}

/*
job titles
*/
.jobtitles {
    font-size:1.5em;
    font-weight: 600;
}

/*
job organizations
*/
.organization {
    font-size:1.25em;
    font-weight: 400;
}

/*
job dates
*/
.date {
    font-size:1em;
    font-style:italic;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

/*
job description
*/
.description {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

/*
lists of contact info, education, skills
*/
ul {
    font-size:1em;
    font-weight: 400;
}
